<h1>Add a line or station</h1>

<p>Create a new stop:</p>
<form action="/add" method="post">

  <label for="station_name">Name your station:</label>
  <input id="station_name" name="station_name" type="text">

  <label for="line_name">Name your line:</label>
  <input id="line_name" name="line_name" type="text">

  <button type="submit">Add Stop</button>
</form>

<a href="/lines">View train lines</a>

<a href="/stations">View train stations</a>
